$dark-primary: #92A1DF;
$primary : #8391d3;
$light-primary : #F2F5FE;
$white: #FFFFFF;
$bkg: #FAFAFA;
$border: 1px solid #EFEFEF;
$border-hover: 1px solid #666;
$main-text-color: #8B9095;
$border-radius: 20px;
$border-radius-sm: 4px;
$box-shadow:  0 2px 4px rgba(0, 0, 0, 0.1);
$primary-box-shadow: 0 0 8px rgba(131, 145, 221, 1);